body {
  background-color: black;
}

.button {

  font-size: 40px;
  background-color: #4ECCA3;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-weight: bolder;
  position: relative;
  border: 5px solid red;
  border-radius: 8px;
  width:150px;

}
.btn{
  margin-top: 50px;
  text-align: center;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 8rem;
  color: #4ECCA3;
}

h2 {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}
.dice {
  text-align: center;
  display: inline-block;
}

.container {
  margin: 0 auto 0;
  text-align: center;
}

img {
  width: 70%;
}
